# Analisi di 28 milioni di recensioni di film
# Procuriamoci il Dataset

In [1]:
# !wget http://files.grouplens.org/datasets/movielens/ml-latest.zip

# Inizializziamo Spark

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("movie_reviews").getOrCreate()

# Importiamo il Dataset in un Dataframe

In [3]:
df = spark.read.load("ml-latest/ratings.csv", format="csv")
df.show()

+------+-------+------+----------+
|   _c0|    _c1|   _c2|       _c3|
+------+-------+------+----------+
|userId|movieId|rating| timestamp|
|     1|    307|   3.5|1256677221|
|     1|    481|   3.5|1256677456|
|     1|   1091|   1.5|1256677471|
|     1|   1257|   4.5|1256677460|
|     1|   1449|   4.5|1256677264|
|     1|   1590|   2.5|1256677236|
|     1|   1591|   1.5|1256677475|
|     1|   2134|   4.5|1256677464|
|     1|   2478|   4.0|1256677239|
|     1|   2840|   3.0|1256677500|
|     1|   2986|   2.5|1256677496|
|     1|   3020|   4.0|1256677260|
|     1|   3424|   4.5|1256677444|
|     1|   3698|   3.5|1256677243|
|     1|   3826|   2.0|1256677210|
|     1|   3893|   3.5|1256677486|
|     2|    170|   3.5|1192913581|
|     2|    849|   3.5|1192913537|
|     2|   1186|   3.5|1192913611|
+------+-------+------+----------+
only showing top 20 rows

In [4]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [5]:
df = spark.read.option("header", "true").option("inferSchema", "true").csv("ml-latest/ratings.csv")
df.show()

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|    307|   3.5|1256677221|
|     1|    481|   3.5|1256677456|
|     1|   1091|   1.5|1256677471|
|     1|   1257|   4.5|1256677460|
|     1|   1449|   4.5|1256677264|
|     1|   1590|   2.5|1256677236|
|     1|   1591|   1.5|1256677475|
|     1|   2134|   4.5|1256677464|
|     1|   2478|   4.0|1256677239|
|     1|   2840|   3.0|1256677500|
|     1|   2986|   2.5|1256677496|
|     1|   3020|   4.0|1256677260|
|     1|   3424|   4.5|1256677444|
|     1|   3698|   3.5|1256677243|
|     1|   3826|   2.0|1256677210|
|     1|   3893|   3.5|1256677486|
|     2|    170|   3.5|1192913581|
|     2|    849|   3.5|1192913537|
|     2|   1186|   3.5|1192913611|
|     2|   1235|   3.0|1192913585|
+------+-------+------+----------+
only showing top 20 rows

In [6]:
df.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)

# Correggiamo lo schema

In [7]:
from pyspark.sql.types import *

data_schema = [StructField('userID', StringType(), True),
                StructField('movieID', StringType(), True),
                StructField('rating', FloatType(), True),
                StructField('timestamp', IntegerType(), True)]

schema = StructType(fields=data_schema)

In [8]:
df = spark.read.schema(schema) \
    .option("header", "true") \
    .option("inferSchema", "false") \
    .csv("ml-latest/ratings.csv")

df.show()

+------+-------+------+----------+
|userID|movieID|rating| timestamp|
+------+-------+------+----------+
|     1|    307|   3.5|1256677221|
|     1|    481|   3.5|1256677456|
|     1|   1091|   1.5|1256677471|
|     1|   1257|   4.5|1256677460|
|     1|   1449|   4.5|1256677264|
|     1|   1590|   2.5|1256677236|
|     1|   1591|   1.5|1256677475|
|     1|   2134|   4.5|1256677464|
|     1|   2478|   4.0|1256677239|
|     1|   2840|   3.0|1256677500|
|     1|   2986|   2.5|1256677496|
|     1|   3020|   4.0|1256677260|
|     1|   3424|   4.5|1256677444|
|     1|   3698|   3.5|1256677243|
|     1|   3826|   2.0|1256677210|
|     1|   3893|   3.5|1256677486|
|     2|    170|   3.5|1192913581|
|     2|    849|   3.5|1192913537|
|     2|   1186|   3.5|1192913611|
|     2|   1235|   3.0|1192913585|
+------+-------+------+----------+
only showing top 20 rows

In [9]:
df.printSchema()

root
 |-- userID: string (nullable = true)
 |-- movieID: string (nullable = true)
 |-- rating: float (nullable = true)
 |-- timestamp: integer (nullable = true)

In [10]:
from pyspark.sql.functions import  from_unixtime , to_date

df.withColumn('timestamp', to_date(from_unixtime(df["timestamp"]))).show()

+------+-------+------+----------+
|userID|movieID|rating| timestamp|
+------+-------+------+----------+
|     1|    307|   3.5|2009-10-27|
|     1|    481|   3.5|2009-10-27|
|     1|   1091|   1.5|2009-10-27|
|     1|   1257|   4.5|2009-10-27|
|     1|   1449|   4.5|2009-10-27|
|     1|   1590|   2.5|2009-10-27|
|     1|   1591|   1.5|2009-10-27|
|     1|   2134|   4.5|2009-10-27|
|     1|   2478|   4.0|2009-10-27|
|     1|   2840|   3.0|2009-10-27|
|     1|   2986|   2.5|2009-10-27|
|     1|   3020|   4.0|2009-10-27|
|     1|   3424|   4.5|2009-10-27|
|     1|   3698|   3.5|2009-10-27|
|     1|   3826|   2.0|2009-10-27|
|     1|   3893|   3.5|2009-10-27|
|     2|    170|   3.5|2007-10-20|
|     2|    849|   3.5|2007-10-20|
|     2|   1186|   3.5|2007-10-20|
|     2|   1235|   3.0|2007-10-20|
+------+-------+------+----------+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import to_utc_timestamp

df = df.withColumn('timestamp', to_utc_timestamp(from_unixtime(df["timestamp"]), "yyyy-MM-dd hh:mm:ss"))
df.show(5)

+------+-------+------+-------------------+
|userID|movieID|rating|          timestamp|
+------+-------+------+-------------------+
|     1|    307|   3.5|2009-10-27 22:00:21|
|     1|    481|   3.5|2009-10-27 22:04:16|
|     1|   1091|   1.5|2009-10-27 22:04:31|
|     1|   1257|   4.5|2009-10-27 22:04:20|
|     1|   1449|   4.5|2009-10-27 22:01:04|
+------+-------+------+-------------------+
only showing top 5 rows

In [12]:
df.printSchema()

root
 |-- userID: string (nullable = true)
 |-- movieID: string (nullable = true)
 |-- rating: float (nullable = true)
 |-- timestamp: timestamp (nullable = true)

# Quante recensioni ci sono esattamente nel dataset?

In [13]:
total_reviews = df.count()
print(total_reviews)

27753444

# Qual è il numero di recensioni medie per utente?

In [14]:
from pyspark.sql.functions import countDistinct

total_unique_reviewers = df.agg(countDistinct("userId").alias("reviewers_count"))
total_unique_reviewers.show()

+---------------+
|reviewers_count|
+---------------+
|         283228|
+---------------+

In [15]:
total_unique_reviewers = total_unique_reviewers.head()['reviewers_count']
print(total_unique_reviewers)

283228

In [16]:
mean_reviews = total_reviews/total_unique_reviewers
print(mean_reviews)

97.98976089934611

# Quale utente ha scritto più recensioni? Quante sono le recensioni che ha scritto? Qual è il voto medio?

In [17]:
df.groupBy("userID").count().orderBy('count', ascending=False).show(5)

+------+-----+
|userID|count|
+------+-----+
|123100|23715|
|117490| 9279|
|134596| 8381|
|212343| 7884|
|242683| 7515|
+------+-----+
only showing top 5 rows

In [18]:
df.filter("userID=='123100'").agg({"rating":"mean"}).show()

+------------------+
|       avg(rating)|
+------------------+
|3.1306346194391734|
+------------------+

# Quali sono i film che hanno ricevuto più recensioni?

In [25]:
dfMovies = df.groupBy("movieID")

In [20]:
dfMovies.count().orderBy("count", ascending=False).show(10)

+-------+-----+
|movieID|count|
+-------+-----+
|    318|97999|
|    356|97040|
|    296|92406|
|    593|87899|
|   2571|84545|
|    260|81815|
|    480|76451|
|    527|71516|
|    110|68803|
|      1|68469|
+-------+-----+
only showing top 10 rows

# Quali sono i 10 film con le recensioni più positive?
# OPZIONE1

In [23]:
dfMoviesAvg = dfMovies.agg({"rating":"mean", "movieID":"count"}) \
                    .withColumnRenamed("avg(rating)", "avg_rating") \
                    .withColumnRenamed("count(movieId)", "count_movieID") 
dfMoviesAvg.show(5)

+-------+------------------+-------------+
|movieID|        avg_rating|count_movieID|
+-------+------------------+-------------+
|    296| 4.173971387139363|        92406|
|   1090|3.9017529880478086|        18825|
|   2294|3.2357021735779252|        12974|
|   3210| 3.636775639067115|         9819|
|  48738| 3.849010703859877|         6166|
+-------+------------------+-------------+
only showing top 5 rows

# OPZIONE 2

In [27]:
from pyspark.sql.functions import avg, count

dfMoviesAvg = dfMovies.agg(avg("rating").alias("avg_rating"), count("movieID").alias("count_rating"))
dfMoviesAvg.show(5)

+-------+------------------+------------+
|movieID|        avg_rating|count_rating|
+-------+------------------+------------+
|    296| 4.173971387139363|       92406|
|   1090|3.9017529880478086|       18825|
|   2294|3.2357021735779252|       12974|
|   3210| 3.636775639067115|        9819|
|  48738| 3.849010703859877|        6166|
+-------+------------------+------------+
only showing top 5 rows

In [28]:
dfMoviesMostRated = dfMoviesAvg.filter('count_rating >= 100')
dfMoviesMostRated.count()

10500

In [29]:
dfMoviesTopRated = dfMoviesMostRated.orderBy("avg_rating", ascending=False)
dfMoviesTopRated.show()

+-------+------------------+------------+
|movieID|        avg_rating|count_rating|
+-------+------------------+------------+
| 171011|4.4865181711606095|         853|
| 159817| 4.458092485549133|        1384|
|    318| 4.424188001918387|       97999|
| 170705| 4.399898373983739|         984|
| 174053| 4.350558659217877|        1074|
| 171495| 4.343949044585988|         157|
| 172591| 4.339667458432304|         421|
|    858| 4.332892749244713|       60904|
|     50| 4.291958829205532|       62180|
| 176601| 4.263888888888889|         180|
|   1221|4.2630353697749195|       38875|
| 172577| 4.261904761904762|         126|
|    527| 4.257501817775044|       71516|
|   2019|4.2541157909178215|       14578|
| 163809| 4.244031830238727|         377|
| 185135|  4.23943661971831|         213|
|   1203| 4.237075455914338|       17931|
| 179135| 4.236389684813753|         349|
|    904| 4.230798598634567|       22264|
|   2959| 4.230663235786717|       65678|
+-------+------------------+------------+
only showing top 20 rows

# Quali sono i 10 film con le recensioni più negative?

In [32]:
dfMoviesTopRated = dfMoviesMostRated.orderBy("avg_rating")
dfMoviesTopRated.show()

+-------+------------------+------------+
|movieID|        avg_rating|count_rating|
+-------+------------------+------------+
|   8859|0.8739495798319328|         238|
|   6483|1.0138592750533049|         469|
|   4775| 1.141025641025641|         741|
|   1826|1.2038288288288288|         444|
|   6587|1.2055555555555555|         810|
|  31698|1.2441176470588236|         680|
|   5739|1.2612359550561798|         178|
|  61348|1.2672849915682969|         593|
|   5738|1.3549382716049383|         162|
|   3574|1.3580645161290323|         155|
|   6872|1.3608445297504799|         521|
|   5740| 1.371212121212121|         132|
|   6371| 1.378238341968912|         386|
|   5737|1.3897849462365592|         186|
|  54290|1.4051724137931034|         232|
|   1495|1.4207792207792207|         770|
|   1990|1.4588235294117646|         170|
|   5647|1.4662447257383966|         237|
|   5736|1.4705882352941178|         204|
|  50798|1.4722872755659642|        1281|
+-------+------------------+------------+
only showing top 20 rows

# Quali sono le 10 recensioni più recenti

In [34]:
df.orderBy("timestamp", ascending=False).show(10)

+------+-------+------+-------------------+
|userID|movieID|rating|          timestamp|
+------+-------+------+-------------------+
| 82922| 167780|   4.0|2018-09-26 08:59:09|
| 82922|  53519|   4.0|2018-09-26 08:58:50|
|280481|    494|   3.0|2018-09-26 08:58:47|
|280481|   2355|   3.0|2018-09-26 08:58:43|
|280481|   2294|   2.0|2018-09-26 08:58:41|
|280481| 176101|   3.5|2018-09-26 08:58:30|
|280481|  64614|   3.0|2018-09-26 08:58:22|
| 82922| 165831|   4.0|2018-09-26 08:58:09|
|280481|   1079|   2.5|2018-09-26 08:58:06|
| 82922|  52281|   4.0|2018-09-26 08:58:05|
+------+-------+------+-------------------+
only showing top 10 rows

# Qual è il film più visto per anno?

In [38]:
from pyspark.sql.functions import year

dfWithYear = df.withColumn("year", year(df["timestamp"]))
dfWithYear = dfWithYear.drop("timestamp")
dfWithYear.show(5)

+------+-------+------+----+
|userID|movieID|rating|year|
+------+-------+------+----+
|     1|    307|   3.5|2009|
|     1|    481|   3.5|2009|
|     1|   1091|   1.5|2009|
|     1|   1257|   4.5|2009|
|     1|   1449|   4.5|2009|
+------+-------+------+----+
only showing top 5 rows

In [39]:
dfMovieYear = dfWithYear.groupBy("year", "movieID").agg(count("rating").alias("count_rating"))
dfMovieYear.show(5)

+----+-------+------------+
|year|movieID|count_rating|
+----+-------+------------+
|2005|    255|          43|
|2005|   1917|        3460|
|2005|   3793|        4089|
|2005|   5064|         788|
|2005|   6966|         257|
+----+-------+------------+
only showing top 5 rows

In [40]:
from pyspark.sql.functions import col
from pyspark.sql.functions import max

dfMostRatedYear = dfMovieYear.groupBy("year") \
            .agg(max("count_rating") \
            .alias("count_rating")) \
            .orderBy("count_rating", ascending=False)

dfMostRatedYear.show(27)

+----+------------+
|year|count_rating|
+----+------------+
|1996|       25760|
|2015|       12775|
|1997|       11350|
|2016|        8976|
|2017|        7874|
|2000|        7453|
|2005|        6230|
|1999|        4621|
|2001|        4516|
|2018|        4311|
|2008|        4208|
|2006|        4000|
|2010|        3884|
|2009|        3720|
|2004|        3699|
|2003|        3684|
|2002|        3553|
|2007|        3409|
|2011|        3282|
|2013|        2713|
|2014|        2673|
|2012|        2422|
|1998|        2398|
|1995|           1|
+----+------------+

In [44]:
from pyspark.sql import Window
from pyspark.sql.functions import max, col

window = Window.partitionBy("year")

dfMostRatedYear = dfMovieYear.withColumn("max", max("count_rating").over(window)) \
                            .where(col("count_rating")==col("max")).drop("max")

dfMostRatedYear.show(27)

+----+-------+------------+
|year|movieID|count_rating|
+----+-------+------------+
|2003|   5952|        3684|
|2007|   2571|        3409|
|2018|    318|        4311|
|2015|   2571|       12775|
|2006|   7153|        4000|
|2013|    318|        2713|
|1997|    780|       11350|
|2014|    318|        2673|
|2004|   7153|        3699|
|1996|    592|       25760|
|1998|   1721|        2398|
|2012|  79132|        2422|
|2009|  58559|        3720|
|2016|    318|        8976|
|1995|     47|           1|
|1995|     21|           1|
|1995|   1176|           1|
|1995|   1079|           1|
|2001|   1210|        4516|
|2005|   5952|        6230|
|2000|   1210|        7453|
|2010|  72998|        3884|
|2011|  79132|        3282|
|2008|   2571|        4208|
|2017|    318|        7874|
|1999|   2396|        4621|
|2002|   4993|        3553|
+----+-------+------------+

In [45]:
dfMostRatedYear = dfMostRatedYear.orderBy("year", ascending=False)
dfMostRatedYear.show(27)

+----+-------+------------+
|year|movieID|count_rating|
+----+-------+------------+
|2018|    318|        4311|
|2017|    318|        7874|
|2016|    318|        8976|
|2015|   2571|       12775|
|2014|    318|        2673|
|2013|    318|        2713|
|2012|  79132|        2422|
|2011|  79132|        3282|
|2010|  72998|        3884|
|2009|  58559|        3720|
|2008|   2571|        4208|
|2007|   2571|        3409|
|2006|   7153|        4000|
|2005|   5952|        6230|
|2004|   7153|        3699|
|2003|   5952|        3684|
|2002|   4993|        3553|
|2001|   1210|        4516|
|2000|   1210|        7453|
|1999|   2396|        4621|
|1998|   1721|        2398|
|1997|    780|       11350|
|1996|    592|       25760|
|1995|     47|           1|
|1995|     21|           1|
|1995|   1176|           1|
|1995|   1079|           1|
+----+-------+------------+

In [46]:
dfMostRatedYear = dfMostRatedYear.where("year != 1995")

In [ ]:
dfMostViewedYear = dfMostRatedYear.withColumn("total_viewers",dfMostRatedYear["count_rating"]*100) \
                        .drop("count_rating")
dfMostViewedYear.show(27)

# Aggiungere titolo e genere e alla lista dei film per anno e scrivere un file csv

In [ ]:
df_desc = spark.read.csv("ml-latest/movies.csv", header=True, inferSchema=True)
df_desc.show(10)

In [57]:
dfMostViewedYear = dfMostViewedYear.join(df_desc, ["movieId"])

# impostando il secondo parametro del metodo .show() a False
# possiamo visualizzare tutto il Dataframe in ampiezza

dfMostViewedYear.show(27, False)

+-------+----+-------------+---------------------------------------------------------+-----------------------------------------------+---------------------------------------------------------+-----------------------------------------------+---------------------------------------------------------+-----------------------------------------------+
|movieID|year|total_viewers|title                                                    |genres                                         |title                                                    |genres                                         |title                                                    |genres                                         |
+-------+----+-------------+---------------------------------------------------------+-----------------------------------------------+---------------------------------------------------------+-----------------------------------------------+---------------------------------------------------------+-----------------------------------------------+
|318    |2018|431100       |Shawshank Redemption, The (1994)                         |Crime|Drama                                    |Shawshank Redemption, The (1994)                         |Crime|Drama                                    |Shawshank Redemption, The (1994)                         |Crime|Drama                                    |
|318    |2017|787400       |Shawshank Redemption, The (1994)                         |Crime|Drama                                    |Shawshank Redemption, The (1994)                         |Crime|Drama                                    |Shawshank Redemption, The (1994)                         |Crime|Drama                                    |
|318    |2016|897600       |Shawshank Redemption, The (1994)                         |Crime|Drama                                    |Shawshank Redemption, The (1994)                         |Crime|Drama                                    |Shawshank Redemption, The (1994)                         |Crime|Drama                                    |
|2571   |2015|1277500      |Matrix, The (1999)                                       |Action|Sci-Fi|Thriller                         |Matrix, The (1999)                                       |Action|Sci-Fi|Thriller                         |Matrix, The (1999)                                       |Action|Sci-Fi|Thriller                         |
|318    |2014|267300       |Shawshank Redemption, The (1994)                         |Crime|Drama                                    |Shawshank Redemption, The (1994)                         |Crime|Drama                                    |Shawshank Redemption, The (1994)                         |Crime|Drama                                    |
|318    |2013|271300       |Shawshank Redemption, The (1994)                         |Crime|Drama                                    |Shawshank Redemption, The (1994)                         |Crime|Drama                                    |Shawshank Redemption, The (1994)                         |Crime|Drama                                    |
|79132  |2012|242200       |Inception (2010)                                         |Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX|Inception (2010)                                         |Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX|Inception (2010)                                         |Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX|
|79132  |2011|328200       |Inception (2010)                                         |Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX|Inception (2010)                                         |Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX|Inception (2010)                                         |Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX|
|72998  |2010|388400       |Avatar (2009)                                            |Action|Adventure|Sci-Fi|IMAX                   |Avatar (2009)                                            |Action|Adventure|Sci-Fi|IMAX                   |Avatar (2009)                                            |Action|Adventure|Sci-Fi|IMAX                   |
|58559  |2009|372000       |Dark Knight, The (2008)                                  |Action|Crime|Drama|IMAX                        |Dark Knight, The (2008)                                  |Action|Crime|Drama|IMAX                        |Dark Knight, The (2008)                                  |Action|Crime|Drama|IMAX                        |
|2571   |2008|420800       |Matrix, The (1999)                                       |Action|Sci-Fi|Thriller                         |Matrix, The (1999)                                       |Action|Sci-Fi|Thriller                         |Matrix, The (1999)                                       |Action|Sci-Fi|Thriller                         |
|2571   |2007|340900       |Matrix, The (1999)                                       |Action|Sci-Fi|Thriller                         |Matrix, The (1999)                                       |Action|Sci-Fi|Thriller                         |Matrix, The (1999)                                       |Action|Sci-Fi|Thriller                         |
|7153   |2006|400000       |Lord of the Rings: The Return of the King, The (2003)    |Action|Adventure|Drama|Fantasy                 |Lord of the Rings: The Return of the King, The (2003)    |Action|Adventure|Drama|Fantasy                 |Lord of the Rings: The Return of the King, The (2003)    |Action|Adventure|Drama|Fantasy                 |
|5952   |2005|623000       |Lord of the Rings: The Two Towers, The (2002)            |Adventure|Fantasy                              |Lord of the Rings: The Two Towers, The (2002)            |Adventure|Fantasy                              |Lord of the Rings: The Two Towers, The (2002)            |Adventure|Fantasy                              |
|7153   |2004|369900       |Lord of the Rings: The Return of the King, The (2003)    |Action|Adventure|Drama|Fantasy                 |Lord of the Rings: The Return of the King, The (2003)    |Action|Adventure|Drama|Fantasy                 |Lord of the Rings: The Return of the King, The (2003)    |Action|Adventure|Drama|Fantasy                 |
|5952   |2003|368400       |Lord of the Rings: The Two Towers, The (2002)            |Adventure|Fantasy                              |Lord of the Rings: The Two Towers, The (2002)            |Adventure|Fantasy                              |Lord of the Rings: The Two Towers, The (2002)            |Adventure|Fantasy                              |
|4993   |2002|355300       |Lord of the Rings: The Fellowship of the Ring, The (2001)|Adventure|Fantasy                              |Lord of the Rings: The Fellowship of the Ring, The (2001)|Adventure|Fantasy                              |Lord of the Rings: The Fellowship of the Ring, The (2001)|Adventure|Fantasy                              |
|1210   |2001|451600       |Star Wars: Episode VI - Return of the Jedi (1983)        |Action|Adventure|Sci-Fi                        |Star Wars: Episode VI - Return of the Jedi (1983)        |Action|Adventure|Sci-Fi                        |Star Wars: Episode VI - Return of the Jedi (1983)        |Action|Adventure|Sci-Fi                        |
|1210   |2000|745300       |Star Wars: Episode VI - Return of the Jedi (1983)        |Action|Adventure|Sci-Fi                        |Star Wars: Episode VI - Return of the Jedi (1983)        |Action|Adventure|Sci-Fi                        |Star Wars: Episode VI - Return of the Jedi (1983)        |Action|Adventure|Sci-Fi                        |
|2396   |1999|462100       |Shakespeare in Love (1998)                               |Comedy|Drama|Romance                           |Shakespeare in Love (1998)                               |Comedy|Drama|Romance                           |Shakespeare in Love (1998)                               |Comedy|Drama|Romance                           |
|1721   |1998|239800       |Titanic (1997)                                           |Drama|Romance                                  |Titanic (1997)                                           |Drama|Romance                                  |Titanic (1997)                                           |Drama|Romance                                  |
|780    |1997|1135000      |Independence Day (a.k.a. ID4) (1996)                     |Action|Adventure|Sci-Fi|Thriller               |Independence Day (a.k.a. ID4) (1996)                     |Action|Adventure|Sci-Fi|Thriller               |Independence Day (a.k.a. ID4) (1996)                     |Action|Adventure|Sci-Fi|Thriller               |
|592    |1996|2576000      |Batman (1989)                                            |Action|Crime|Thriller                          |Batman (1989)                                            |Action|Crime|Thriller                          |Batman (1989)                                            |Action|Crime|Thriller                          |
+-------+----+-------------+---------------------------------------------------------+-----------------------------------------------+---------------------------------------------------------+-----------------------------------------------+---------------------------------------------------------+-----------------------------------------------+

In [58]:
dfMostViewedYear.write.csv("top_movie_by_year")

AnalysisException: 'Found duplicate column(s) when inserting into file:/home/sparkmachine/Notebook/top_movie_by_year: `genres`, `title`;'